# App
APP_PORT=3000
APP_ENV=development

# Database
DB_TYPE=postgres
DB_DSN=postgres://popularvote:popularvote@localhost:5432/popularvote?sslmode=disable

# JWT
JWT_SECRET=super-secret-change-in-prod
JWT_ACCESS_TTL=15
JWT_REFRESH_TTL=168

# PostgreSQL (docker-compose)
POSTGRES_USER=popularvote
POSTGRES_PASSWORD=popularvotepassword
POSTGRES_DB=popularvote

# MinIO (docker-compose)
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadminpassword
MINIO_BUCKET_NAME=popularvote
